$label-width: 8em;
$circle-border-size: 0.096em;
$circle-size: 0.5em;

table.grid {
  width: 100%;

  thead {
    border-top: 1px black solid;
    background-color: antiquewhite;
  }

  td,
  th {
    padding: 2px 5px;
  }
}

.form-title {
  border-bottom: 2px solid #666;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.form-actions{
  text-align: right;
}

form {
  vertical-align: top;
  width: 100%;

  .validation-banner {
    background-color: $invalid-color;
    border-radius: 4px;
    color: white;
    padding: 5px;
    margin: 0 0 10px 0;
  }

  .field {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 5px;

    label {
      display: flex;
      width: 100%;
      height: 100%;

      .labeltext {
        display: inline-block;
        box-sizing: border-box;
        width: $label-width;
        height: 2em;
        line-height: 2em;
        text-align: right;
        padding-right: 0.5em;
        font-weight: 600;
        color: #444;
      }

      .inputblock {
        flex: 1;
      }

      .inputcontrol {
        display: flex;
      }

      input[type=text] {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 6px 6px;
        background-color: rgb(245, 245, 245);
        font-size: inherit;
        border: 1px solid #999;
        border-radius: 4px;
        -webkit-appearance: none;
      }


      .control-status {
        display: inline-block;
        width: 50px;
        color: yellowgreen;
        line-height: 2em;
        text-align: right;
      }

      .date input,
      .number input {
        width: 100px;
      }

      .mat-icon-button {
        color: green;
        height: 2em;
        line-height: 2em;
      }

      select {
        box-sizing: border-box;
        display: block;
        height: 100%;
        padding: 6px 6px;
        background-color: rgb(245, 245, 245);
        font-size: inherit;
        border: 1px solid #999;
        border-radius: 4px;

        .option-placeholder{
          color: #888;
        }
      }



      .error {
        input {
          border-color: $invalid-color;
        }

        p {
          color: $invalid-color;
        }
      }

      .help-message {
        display: block;
        color: cornflowerblue;
        width: 100%;
        font-size: 0.8em;
        padding: 2px 0 2px 6px;
      }

      .validation-messages {
        display: block;
        color: $invalid-color;
        width: 100%;
        padding: 2px 0 2px 6px;
      }
    }
  }

  .button-bar {
    text-align: right;
    margin-top: 10px;
  }
}

.selected {
  background-color: rgb(166, 206, 253);
}

button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  min-width: 4em;
  margin: 4px 2px;
  padding: 4px 6px;
  font-size: inherit;
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

button:focus {
  outline:0;
}

button.btn-icon {
  min-width: auto;
  background-color: transparent;
  opacity: 0.5;
}

button.btn-icon:hover:enabled {
  opacity: 1;
}

button[type=submit] {
  min-width: 4em;
  background-color: darkgreen;
  color: white;
}

button[type=reset] {
  min-width: 4em;
  background-color: darkred;
  color: white;
}

button:hover:enabled {
  opacity: 0.75;
}

button:disabled {
  color: rgb(124, 124, 124);
}

.button-icon {
  border: none;
  background-color: transparent;
  color: #555;
  min-width: initial;
  margin: 0;
}

.button-debug {
  color: darkgreen;
}

h3{
  margin-bottom: 10px;
}


input[readonly],select[readonly] only {
  color: gray;
}


.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  min-width: 300px;
  width: 96%;
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,.12);
  margin: 4px;
  padding: 20px;
}

.form-title {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  color: #11488a;
  padding: 0px 0px 16px 0px;
  margin-bottom: 16px;
  .form-title-spacer {
    flex: 1 1 auto;
  }
  border-bottom: 2px #11488a solid;
}

.form-actions {
  display: flex;
  justify-content: flex-end ;
  .mat-button:disabled,
  .mat-button[disabled] {
    color: red;
  }
}

.form-content {
  display:flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: left;
  //margin: 0 -10px;
}


input-text,
input-date {
  width: 100%;
  //margin: 0 10px;
}

.form-field-small{
  width: 145px;
  margin: 0 10px;
}

.radio-group {
  height: 40px;
  padding: 6px 0;

    label {
      display: inline!important;
      margin-right: 30px;
    }

    [type=radio] + span::before {
      content: '';
      display: inline-block;
      width: $circle-size;
      height: $circle-size;
      border-radius: $circle-size;

      border: $circle-border-size solid #fff;
      box-shadow: 0 0 0 $circle-border-size #000;
      margin-right: 0.75em;
      transition: 0.5s ease all;
    }

    [type=radio]:checked + span::before {
      background: #11488a;
      box-shadow: 0 0 0 $circle-border-size #000;
    }

    [type=radio]:checked:disabled + span::before {
      background: gray;
      box-shadow: 0 0 0 $circle-border-size #000;
    }

    [type=radio] {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
    }
}

.fill-field-space {
  display: flex;
  width: 100%;
}

.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  height: 24px;
  width: 24px;
  clear: both;
  padding-left: 30px;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

// unchecked box
.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 18px;
  width: 18px;

  background-color: transparent;
  border-radius: 5px;
  border: 2px solid black;
}

//checked box
.checkbox-label input:checked ~ .checkbox-custom {
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 2px solid black;
}

//check mark
.checkbox-label input:checked ~ .checkbox-custom::after {
  content: "\2713";
  font-weight: bold;
  color: #11488a;
  position: absolute;
  left: 1px;
  top: -4px;
  opacity:1;
  background-color: transparent;
}

.checkbox-label input:checked:disabled ~ .checkbox-custom::after {
  color: gray;
}
