<form name="legacy">

<!-- <edit-form
  [formGroup]="form"
  formTitle="Demo Form"
  debug="true"
  (submitForm)="onSubmit($event)"
  (resetForm)="onReset($event)" > -->

  <button mat-button type="button"  title="Readonly" (click)="setState()">
    <i class="material-icons">{{readonly?"Read":"Edit"}}</i>
  </button>



  <input-text
    [(ngModel)]="model.name"
    name="name"
    label="Name"
    placeholder="a cool name...">
  </input-text>

  <input-text
    [(ngModel)]='model.description'
    name="description"
    label="Description"
    placeholder="any description will do...">
  </input-text>

  <input-select
    [(ngModel)]='model.make'
    name="make"
    [items]="makes"
    label="Makes"
    placeholder="- select a make -">
  </input-select>

  <button (click)="reset()">reset</button>


  <div class="fill-field-space"></div>

  <input-radio
    [(ngModel)]='model.type'
    name="types"
    [items]="types"
    label="Type">
  </input-radio>


  <div class="fill-field-space"></div>

  <input-checkbox
    [(ngModel)]='model.active'
    name="active"
    label="Active"
    hint="">
  </input-checkbox>

<!-- </edit-form> -->

  <pre>{{model | json}}</pre>

</form>
