<edit-form
  [formGroup]="form"
  formTitle="Demo Form"
  debug="true"
  (submitForm)="onSubmit($event)"
  (resetForm)="onReset($event)" >

  <input-text
    [formControlName]="'name'"
    label="Name"
    hint="Enter the name"
    placeholder="any name...">
  </input-text>

  <input-text
    [formControlName]="'description'"
    label="Description"
    hint="Enter the description"
    placeholder="any description will do...">
  </input-text>

  <input-select
    [formControlName]="'make'"
    [items]="makes"
    label="Makes"
    hint="Enter the description"
    placeholder="- select a make -">
  </input-select>

  <div class="fill-field-space"></div>

  <input-radio
    [formControlName]="'type'"
    [items]="types"
    label="Type">
  </input-radio>

  <div class="fill-field-space"></div>

  <input-checkbox
    [formControlName]="'active'"
    label="Active"
    hint="">
  </input-checkbox>

</edit-form>
