<div class="form-wrapper">
  <form class="form-container" [formGroup]="formGroup">
    <div class="form-title">
      <div class="form-title-spacer">{{title}}</div>

      <button mat-button type="button"  title="Readonly" (click)="setState()">
        <i class="material-icons">{{readonly?"Read":"Edit"}}</i>
      </button>
    </div>

    <div class="form-content">
      <ng-content></ng-content>
    </div>

    <br/>
    <div class="form-actions" *ngIf="!readonly">
      <button mat-button type="button" title="Cancel" (click)="reset()">
        <i class="material-icons">Reset</i>
      </button>
      <button mat-button type="button" [disabled]="!formGroup.valid" title="Save"  (click)="submit()">
          <i class="material-icons">Save</i>
        </button>
    </div>

    <br/>
    <formstate *ngIf="debug" [formGroup]="formGroup"></formstate>
  </form>
</div>
