<div class="field">
  <label [ngClass]="{'error': control && control.errors}">
    <div class="labeltext">{{label}}</div>

    <div class="inputblock">

      <!-- <div [hidden]="!readonly" class="{{type}} inputcontrol">
        <input type="text"
               [formControl]="control"
               [value]="value"
               readonly>
      </div> -->
      <div class="select">
          <select [disabled]="readonly" [formControl]="control" >
              <option disabled class="option-placeholder">{{placeholder}}</option>
              <option *ngFor="let item of items" [value]="item.value">
                {{ item.viewValue }}
              </option>
          </select>
      </div>

      <div class="help-message">{{help}}</div>
      <div class="validation-messages">
        <validation-messages controlName="{{formControlName}}" [control]="control" label="{{label}}"
          [validationMessages]="validationMessages">
        </validation-messages>
      </div>
    </div>
  </label>
</div>
