<div class="field">
  <label [ngClass]="{'error': control && control.errors}">
    <div class="labeltext">{{label}}</div>

    <div class="inputblock">
      <div class="{{type}} inputcontrol">
        <input type="text"
               [formControl]="control"
               placeholder="{{placeholder}}"
               [readonly]="readonly">
        <control-status [control]="control"></control-status>
      </div>

      <div class="help-message">{{help}}</div>
      <div class="validation-messages">
        <validation-messages controlName="{{formControlName}}" [control]="control" label="{{label}}"
          [validationMessages]="validationMessages">
        </validation-messages>
      </div>
    </div>
  </label>
</div>
