<div class="field">
  <label [ngClass]="{'error': control && control.errors}">
    <div class="labeltext">{{label}}</div>
    <div class="inputblock">
      <div class="radio-group">
        <label *ngFor="let item of items" >
          <input type="radio"
                 [disabled]="readonly"
                 [(ngModel)]="value"
                 value="{{item.value}}"
                 name="{{formControlName}}">
          <span>{{ item.viewValue }}</span>
        </label>
      </div>
    </div>
  </label>
</div>
